.hero {
    // max-width: 1200px;
    // margin: auto;
    &-body {
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
    }
    &-text {
        max-width: 600px;
        margin-bottom: 24px;
        padding-right: 50px;
    }
    &-img {
        width: 100%;
        max-width: 500px;
        margin-bottom: 24px;
    }
}
